*{
  padding: 0px;
  margin: 0px;

}

.myheader{
  height: 80px;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content:space-between;
  padding: 0px 60px;
  position: unset;
}
.leftnav{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
 margin-right: 20px;

}
.leftnav img{
  padding: 4px;
}
.demoreq{
  color: #741475;
  background-color: white;
  font-weight: bolder;
  height: 40px;
  width: 150px;
  border: solid;
  border-radius: 2px;
  margin-right:10px;
  margin-left:30px;

}
.leftnav a{
  padding-left: 15px;
  font-size: 20px;
  text-decoration: none;
}
.rightnav{
display: flex;
}
.list{
  padding-left: 20px;
  font-size: 20px;
  }
  .menu-logo{
    display: none;
  }
  .navlink{
  margin-left: 15px;
  display: flex;
  list-style: none;
  padding: 2px;
  }
  
  .logo{
    width: 110px;
    height: 34px;
  }
  main{
    width: 70%;
    padding: 0% 15%;
    justify-content: center;
    align-items: center;
  }
  .parajs{
  padding-top: 20px;
  font-size: 34px;
  text-align: center;
  }
  .parajs span{
    color: #741475;
  }
  .btn{
    height: 40px;
    width: 150px;
    color: white;
    background-color: #4a154b;
    border: none;
    border-radius: 2px;
    margin: 0px 10px;
  }
  .search-logo, .menu-logo{
    height: 18px;
    width: 20px;
  }
  .btn-cont{
    display:flex ;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 20px;
  }
  .get-btn, .find-btn{
  text-align: center;
  width: 250px;
  margin-bottom: 10px;
  padding: 20px 20px;
  background-color: #4a154b;
  color: white;
  border-width: 1px;
  border-radius: 4px;
  font-size: 18px;
  }
  .btn2{
   width: 450px;
  }
  .find-btn{
    width: 300px;
    margin-left:10px ;
    background-color: white;
    color: #4a154b;
    font-weight: 550;
  }
  .slack-text{
    margin-top: 15px;
    margin-bottom: 30px;
    font-size: 20px;
    text-align: center;
  }
  .slack-text span{
    font-weight: 550;
  }
  .logo-cont{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  flex: 1;
  flex-wrap:wrap;
  margin: 20px 5px;
  }
  .logo-cont img{
    padding: 10px 22px;
  }
  .logo-pic{
    width:50px;
     height: 40px;
     margin: 10px;
     padding: 10px;
  }
  .air{
    width: 80px;
  }
  .uber{
    height:5px;
  }
  .etsyl{
    width: 60px;
    height: 20px;
    padding-right: 3px;
    margin-left: 0px;
  }
  
  .logo-pic{
    height: 40px;
  }
  .para-section1{
    margin-top: 40px;
    text-align: center;
    font-size: 24px;
  }