*{
  padding: 0px;
  margin: 0px;
  font-family: "Roboto", serif;
  background-color: rgb(245, 245, 245);

}

.myheader{
  height: 80px;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content:space-between;
  padding: 7px 60px;
  position: unset;
}
.rightnav{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
 margin-right: 20px;

}
.rightnav img{
  padding: 4px;
}
.demoreq{
  color: #741475;
  background-color: white;
  font-weight: bolder;
  height: 44px;
  width: 155px;
  border: solid;
  border-radius: 1px;
  margin-right:10px;
  margin-left:30px;

}
.btn{
  height: 44px;
  width: 130px;
  color: white;
  background-color: #4a154b;
  border: none;
  border-radius: 4px;
  margin-left:  7px;
}
.rightnav a{
  padding-left: 10px;
  padding-right: 6px;
  font-size: 16px;
  font-weight: bold;
  color: black;
  text-decoration: none;
}
.leftnav{
display: flex;
}
.rightnav .search-logo{
  width: 20px;
  height: 20px;
}
.list{
  padding-left: 20px;
  font-size: 16px;
  }
  .menu-logo{
    display: none;
  }
  .navlink{
  margin-left: 15px;
  display: flex;
  list-style: none;
  padding: 2px;
  }
  
  .logo{
    width: 110px;
    height: 34px;
  }
  main{
    width: 70%;
    padding: 0% 15%;
    margin-bottom: 150px;
    justify-content: center;
    align-items: center;
  }
  .parajs{
    padding-top: 15px;
    font-size: 27px;
    text-align: center;
  }
  .parajs span{
    color: #741475;
  }
  .search-logo, .menu-logo{
    height: 18px;
    width: 20px;
  }
  .btn-cont{
    display:flex ;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 17px;
  }
  .get-btn, .find-btn{
    text-align: center;
    width: 164px;
    margin-bottom: 10px;
    padding: 17px 20px;
    background-color: #4a154b;
    color: white;
    border-width: 1px;
    border-radius: 4px;
    font-size: 18px;
  }
  .find-btn{
    width: 290px;
    margin-left:10px ;
    background-color: white;
    color: #4a154b;
    font-weight: 550;
  }
  .slack-text{
    margin-top: 15px;
    margin-bottom: 30px;
    font-size: 20px;
    text-align: center;
  }
  .slack-text span{
    font-weight: 550;
  }
  .logo-cont{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  flex: 1;
  flex-wrap:wrap;
  margin: 30px 5px;
  margin-top: 60px;
  }
  .logo-pic{
    width:40px;
     height: 28px;
     margin: 2px;
     padding: 8px;
  }
  .logo-cont .air{
    width: 40px;
    height: 30px;
  }
  .logo-cont .uber{
    height:20px;
  }
  .logo-cont .etsyl{
    width: 64px;
    height: 24px;
  }
  
  .logo-cont .logo-text{
    height: 30px;
    width: 120px;
  }
  .video1 img{
    width: 80%;
    margin: 0% 10%;
    height: 500px;
  }
  .para-section1{
    margin-top: 40px;
    text-align: center;
    font-size: 24px;
  }
  .inspiration{
    width: 70%;
    margin: 0% 15%;
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
  }
  .section{
    margin:2%;
    width: 96%;
  }
  .innercoll{
    display: flex;
    align-items: center;
    padding-top: 8px;
  }
  .innercoll img{
  margin: 8px 10px;
  width: 20px;
  height: 20px;
  }